.container {
  padding: 0 2rem;
}

.main {
  text-align: center;
}

.title {
  font-size: 4rem;
  color: #000000;
}
.navbar {
  background-color: #333; 
}

.navbar a {
  color: #fffefe !important; 
  margin-right: 15px;
}

.navbar a:hover {
  color: #ddd !important; 
}
